

.main{
    margin: auto;
    width: 100%;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.472), rgba(255, 255, 255, 0.365));
    overflow: hidden;
    padding: .7em;
    border-radius: 1em;

    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: .6em;

    animation: mostrar 1.5s ease-in-out;
}

@keyframes mostrar {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.main__figure{
    overflow: hidden;
    border-radius: 1em;
    background-color: #D798F8;
    display: flex;
}

.main__img{
    margin: auto;
    width: 80%;
    max-width: 60vw;
}

.main__contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    padding: 3em .7em;
    text-align: center;
}

.main__form{
    display: grid;
    justify-items: center;
    gap: 1.5em;
}

.main__input{
    width: 80%;
    max-width: 500px;
    outline: none;
    border: none;
    padding: 1em;
    font: inherit;
    border-radius: .6em;
}

.main__input--send{
    background-color: #008092;
    color: #fff;
    font-weight: 600;
}

.main__title{
    font-size: 2.3rem;
}

.main__paragraph{
    margin: .3em 0;
}


#contenedor {
    
    
}

#caja1, #caja2, #caja3 {
    display: inline-block;
    text-align: center;
       
    width: 170px;
    height: 150px;
    color:azure; 
    font-size: 10px;
}
#caja1 p{
    font-size: 15px;
}
#caja2 p{
    font-size: 15px;
}
#caja3 p{
    font-size: 15px;
}

#caja1 h3,p {
    margin: 0; 
    color: #333535;
}
#caja2 h3,p{
    margin: 0; 
     color: #333535;
}
#caja3 h3,p {
    margin: 0;
     color: #333535;
}


