@import './global.css';
@import './tabs.css';
@import './day-weather.css';
@import './loading.css';
@import './style.css';
.app {
  margin-top: 63px;
  background-image:var(--fondo);
  background-size: cover;
  background-position: right bottom;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.app[hidden] {
  display: none;
}
