.tabs {

   margin: 0 auto;
   margin-bottom: 25px;
  color: #343333;
  padding-inline: 1rem;
  inline-size: 100vw;
  box-sizing: border-box;
}

.tab {
  border-block-end: .25rem solid transparent;
  padding-block-end: .5rem;
  margin: 5px;
}

.tab[aria-selected="true"] {
  color: #121212;
  border-block-end-color: #121212;
}

.tabList {
  gap: 1rem;
  overflow: auto;
   margin: 0 auto;
    display: flex;
  justify-content: center;
  align-items: center;
}

.tabList:not([hidden]) {
  display: flex;
}

